/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Outfit', sans-serif; */
    /* font-family: 'Quicksand', sans-serif; */

  }

  .oswald-text {
    font-family: 'Oswald', sans-serif;
  }

  @layer components {
    .dashboard-text-header {
      @apply font-semibold mb-1 text-blue-800 text-[14px] sm:text-[14px] md:text-base lg:text-base;
    }
    .dashboard-text-span {
      @apply font-normal text-gray-500 text-[12px] sm:text-[12px] md:text-sm lg:text-sm ;
    }

    .dashboard-thead {
      /* @apply bg-gradient-to-r from-blue-300 to-purple-200 text-black text-[9px] sm:text-xs md:text-xs lg:text-base text-nowrap; */
      @apply bg-blue-700 text-white text-[8px] sm:text-xs md:text-xs lg:text-xs text-nowrap;
    
    }
    .dashboard-div-norecords {
      @apply h-[300px] flex justify-center items-center text-gray-600 text-[11px] sm:text-xs md:text-xs lg:text-sm;
    }
    .dashboard-th {
      @apply py-2 px-2;
    }
    .dashboard-td {
      @apply py-1 px-2;
    }
    .dashboard-tr {
      @apply hover:bg-blue-200 odd:bg-white even:bg-blue-50;
    }
    .dashboard-tbody {
      @apply text-gray-800 text-[9px] sm:text-[9px] md:text-[11px] lg:text-[11px] h-full;
    }
    .dashboard-table {
      @apply min-w-full border border-gray-200 rounded-lg;
    }
    .dashboard-button-viewall {
      @apply text-blue-600 hover:text-blue-800 text-xs sm:text-sm font-medium flex items-center md:mt-4 bg-white shadow-md md:shadow-none mt-3 px-3 py-2 rounded-full md:rounded-none;
    }




    .global-div-header-ui {
      /* @apply bg-gradient-to-r from-blue-400 to-purple-500 p-6 rounded-lg text-white shadow-lg; */
      @apply bg-blue-800 p-4 rounded-lg text-white shadow-lg;
    }

    .global-div-headertext-ui {
      @apply text-lg sm:text-xl font-semibold;
    }

    .global-thead-approval {
      @apply sticky top-[0px] z-[1] bg-blue-800 rounded-lg text-white text-[12px] sm:text-xs md:text-xs lg:text-sm text-nowrap;
    }

    .global-tbody {
      @apply text-gray-800 text-[0.85rem] sm:text-[0.75rem] md:text-[0.85rem] lg:text-[12px] h-full;
    }


    .global-tr {
      @apply hover:bg-blue-50 border-b border-t border-gray-100;
      /* transition odd:bg-white even:bg-blue-50; */
    }

    .global-th {
      @apply py-2 px-2 text-nowrap;
    }

    .global-td {
      @apply px-[0.30rem] py-[0.20rem] sm:py-[0.10rem] md:py-[0.20rem] lg:px-[0.50rem] lg:py-[0.05rem];
    }
   
    .global-td-approval {
      @apply text-gray-800 text-[0.85rem] px-[0.30rem] py-[0.20rem] sm:py-[0.10rem] md:py-[0.10rem] lg:px-[0.50rem] lg:py-[0.10rem] sm:text-[0.80rem] md:text-[0.85rem] lg:text-[12px];
    }

    .global-td-status {
      @apply px-[0.30rem] py-[0.20rem] sm:py-[0.10rem] md:py-[0.20rem] lg:px-[0.50rem] lg:py-[0.40rem] font-semibold text-center whitespace-nowrap;
    }

    .global-td-status-pending {
      @apply text-gray-700;
    }

    .global-td-status-approved {
      @apply text-blue-600;
    }

    .global-td-status-disapproved {
      @apply text-red-600;
    }

    

/* .pdf-export-mode {
  font-size: 0.60rem;
}

.pdf-export-mode * {
  font-size: 0.60rem !important;
} */

    /* In your CSS file (e.g., index.css or globals.css) */

@media print {
  /* This targets the main container for your PDF content */
  .payslip-pdf-content {
    font-size: 7pt; /* Adjust this value as needed. 8pt is a good starting point. */
    line-height: 1.2;
    /* You can also adjust specific elements if needed */
    h1 {
      font-size: 12pt;
    }
    table {
      font-size: 6pt;
    }
  }
}



/* index.css */
.swal-text {
    font-size: 12px; /* Adjust to the desired size */
}

/* In your CSS file (e.g., App.css or a specific stylesheet) */
.swal2-icon.swal2-error-smaller {
    font-size: 1em !important; /* Adjust the size as needed */
}


/* Hide the native calendar picker icon (Chrome, Edge, Safari) */
/* input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
} */

/* Optional: remove inner spin buttons and clear "x" on Edge */
/* input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-clear-button {
  display: none;
} */

    
  }
  

 
  
  
